<%- include('header') -%>
  <!--about section start -->
  <div class="about_section layout_padding">
    <div class="container">
      <h1 class="about_taital">Sobre nosotros</h1>
      <div class="image_3"><img class="img3"src="images/ecomerce.jpg"></div>
      <p class="lorem_text">En nuestra tienda de productos de ofimática en línea, nos enorgullece ofrecerte una experiencia de compra excepcional mientras te proporcionamos todo lo que necesitas para equipar tu espacio de trabajo con las últimas tecnologías y herramientas.

        Fundada en el 2024 como respuesta a la creciente necesidad de acceder a productos de oficina de calidad de manera conveniente y segura, nuestra tienda se ha comprometido desde entonces a satisfacer las necesidades de nuestros clientes con una amplia gama de productos cuidadosamente seleccionados.</p>
      <div class="read_bt_1"><a href="#">Read More</a></div>
    </div>
  </div>
  <!--about section end -->
  <%- include('footer') -%>