<%- include('header') -%>
  <!--choose section start -->
  <div class="choose_section layout_padding">
    <div class="container">

    <body>
    
    <div class="container">
      <h1>¡En construcción!</h1>
      <p>Estamos trabajando en mejorar nuestra página web.</p>
      <p>Vuelve pronto para descubrir nuestras últimas novedades.</p>
    </div>
    
    </div>
  </div>
  <!--choose section end -->

  <%- include('footer') -%>