.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.col{
    width: 230px !important;
}
.img-logo{

    width: 60px !important;
}
.img3{
height: 400px !important;
}

.search-container {
    margin-top: 20px;
    text-align: center;
  }
  .search-form {
    display: inline-block;
  }
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
    color: #333;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
  }
  .search-input:focus {
    outline: none;
    background-color: #e0e0e0;
  }
  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .search-button:hover {
    background-color: #444;
  }

  #hform{
    margin-left: 15% !important;
    color: white;
  }

  .container_2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  .product-details {
    flex: 1;
    padding-right: 20px;
  }
  .product-image {
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    border: 10p0x solid transparent; 
border-image: linear-gradient(to bottom, white 0%, white 100%) 1; 
  }
  .buy-options {
    flex: 1;
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }
  .lab span{
    color: black !important;
  font-size: 120%;
  }
  .buy-button {
    margin-top: 3%;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buy-button:hover {
    background-color: #444;
  }